* {
    margin: 0;
    padding: 0;
}

#spot_box, #add_lot, #login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 30px;
}

.box {
    padding: 50px;
    border: 1px, solid;

}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 3px 10px;
    cursor: pointer;
}

.container {
    width: 80%;
    justify-content: center;
}

.dibba {
   background-color: orange;
   border-radius: 3px;
   margin: 3px;
}
.available {
    background-color: aquamarine;
    border-radius: 3px;
    margin: 3px;
    
}
a {
    text-decoration: none;
}
.navbar-brand{
    padding-left: 20px;
}

 @media (max-width: 768px) {
    .box {
    border: none;
    }
    .navbar-brand{
    padding-left: 0px;
    }
    .container {
    width: 100%;
    justify-content: center;
    }
}
