* {
    margin: 0;
    padding: 0;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#add_lot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.box {
    padding: 50px;
    border: 1px, solid;

}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 3px 10px;
    cursor: pointer;
}


@media (max-width: 768px) {

    #login_box,
    #register_box {
        border: none;
    }
}

.container {
    width: 80%;
    justify-content: center;
}