* {
    margin: 0;
    padding: 0;
}

#spot_box, #add_lot, #login, #summary_box, #dsh{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

#summary_box {
    padding: 20px;
}

.box {
    padding: 50px;
    background-color: white;
    margin-top: 30px;  
    margin-bottom: 30px;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 3px 10px;
    cursor: pointer;
}

.container {
    background-color: white;
    width: 80%;
    justify-content: center;
    padding: 30px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dibba {
   background-color: orange;
   border-radius: 3px;
   margin: 3px;
}
.available {
    background-color: aquamarine;
    border-radius: 3px;
    margin: 3px;
    
}
a {
    text-decoration: none;
}
.navbar-brand{
    padding-left: 20px;
}

.content {
    padding: 20px;
}
.mt-4{
    padding: 0 25px;

}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: #A0332D!important;
    }

    /* #a8342c */
.nav-link { 
    color: white;
    padding: 10px 20px;
    }

 button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        box-shadow: none; 
    }
.red_pattern {
    background-image: repeating-linear-gradient(
    45deg,
    #A0332D,
    #A0332D 1px,
    transparent 2px,
    transparent 20px 
  );
}
.container.mt-4 {
        padding: 30px;
    }


 @media (max-width: 768px) {
    .box {
    border: none;
    }
    .navbar-brand{
    padding-left: 0px;
    }
    .container {
    width: 100%;
    justify-content: center;
    }
    img.d-block.w-100 {
      height: auto; 
      object-fit: contain;
    }
    
    .box {
        background-color: transparent;
        border: none;
        padding: 30px;
        
    }
    .container {
    background-color: white;
    padding: 20px;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    }
    .container.mt-4 {
        background-color: transparent;
        padding: 20px;
    }
    
}