* {
    margin: 0;
    padding: 0;
}

#spot_box, #add_lot, #login, #summary_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

#summary_box {
    padding: 20px;
    background-color: whitesmoke;
    margin: 3% 5%;
}

.box {
    padding: 50px;
    background-color: whitesmoke;
    margin: 30px 30px; 
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 5px 15px;
    cursor: pointer;
    border: #A0332D solid 1px;
    background-color: white;
}
button:hover{
    background-color: #A0332D;
    /* border: none; */
    color: white;
    /* font-size: large; */
}
input{
    border: solid 1px #A0332D;
}

.container {
    background-color: whitesmoke;
    width: 80%;
    justify-content: center;
    padding: 30px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dibba {
   background-color: orange;
   border-radius: 3px;
   margin: 3px;
}
.available {
    background-color: aquamarine;
    border-radius: 3px;
    margin: 3px;
    
}

a {
    text-decoration: none;
    color: #A0332D;
}
a:hover{
    color: black;

}
.navbar-brand{
    padding-left: 20px;
}

.content {
    padding: 20px;
}
.mt-4{
    padding: 0 25px;

}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: rgb(241, 191, 151)!important;
    }

    /* #a8342c */
.nav-link { 
    color: dark;
    padding: 5px 10px;
    }

 button.navbar-toggler:focus,
    button.navbar-toggler:active {
        outline: none;
        box-shadow: none; 
    }
/* .red_pattern {
    background-image: repeating-linear-gradient(
    45deg,
    #A0332D,
    #A0332D 1px,
    transparent 2px,
    transparent 20px 
  );
} */
.container.mt-4 {
        padding: 30px;
    }


 @media (max-width: 768px) {
    .box {
    border: none;
    }
    .navbar-brand{
    padding-left: 0px;
    }
    /* .container {
    width: 100%;
    justify-content: center;
    } */
    img.d-block.w-100 {
      height: auto; 
      object-fit: contain;
    }
    
    .box {
        background-color: whitesmoke;
        border: none;
        padding: 20px;
        margin: 5%;
        
    }
    .container {
    background-color: whitesmoke;
    height: auto;
    margin: 15px;
    width: 100%;
    }
    .container.mt-4 {
        background-color: transparent;
        padding: 20px;
    }
    
}