{% extends 'base.html' %}

{% block title %} Add Lot {% endblock %}

{% block content %}

    <div id="add_lot" class="red_pattern">
        <div class="box">
            <h1>Add Lot</h1><br>
            <form action="/add_lot" method="post">
                <label for="id">Lot Id:</label>
                <input type="number" name="id" id="id" placeholder="Enter Lot Id" required>
                <br>
                <label for="lot_name">lot_name:</label>
                <input type="text" id="lot_name" name="lot_name"placeholder="lot_name" required>
                <br>
                
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="Enter Address" required>
                <br>
                
                <label for="pin_code">Pin Code:</label>
                <input type="number" id="pin_code" name="pin_code" placeholder="Enter Pin Code" required><br>
                
                <label for="total_slots">Total Slots:</label>
                <input type="number" id="total_slots" name="total_slots" placeholder="Enter total number of slots" required ><br>
                
                <label for="price">Price/unit hour:</label>
                <input type="number" id="price" name="price" placeholder="Enter the price ₹" required ><br><br>

                <button type="submit" class="btn btn-outline-primary">Add slot</button>
                
            </form>
            <br>
            <hr>
            <a href="/dashboard">Go Back</a>
        </div>
    </div>
    
{% endblock %}
