{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{%block content%}
<div class="container">
    
    <div id="sdf">
        <h2>Parking Lots</h2>
        <div class="lot_dibba">
            {% for lot in parking_lots %}
            <div class="lot" class="card-body">
                <div style="color: rgb(7, 134, 91);">Lot Id: {{ lot.id }}</div>
                <div class="actions"><a href="/edit_lot/{{lot.id}}">Edit Lot</a></div>

                <div>Lot Address: {{ lot.location }}, {{ lot.address}}, {{ lot.pin_code }}</div>
                <div class="spaces">Total Slots: {{ lot.total_spots }}</div>
                <div class="spaces">Available: {{ lot.total_spots - lot.reserved_spots }}</div>
                
                
                {% for i in range(lot.reserved_spots) %}
                <span class="bibba">-notA </span>|
                {% endfor %}

                {% for i in range(lot.total_spots-lot.reserved_spots) %}
                <span class="available">A </span>|
                {% endfor %}
                <div><a href="/delete_lot/{{lot.id}}">Delete Lot</a></div>

            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    <h3>Add Parking Lots</h3>
    <div class="card" style="width: 18rem;">
        
        <button type="button" class="btn btn-outline-secondary"><a href="/go_add_lot">Add Lot</a></button>
    </div>


</div>

<hr>

{%endblock%}