{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{%block content%}
<div id="dsh" class="red_pattern">
<div class="container">
    <br>
    <h3>Add Parking Lots</h3>
    <div>
        <p>Click on the Add Lot button to create a new Lot...</p>
        <button type="button"><a href="/add_lot">Add Lot</a></button>
    </div>
    <br>
    <hr>

    {# parking lot details rendering via loop #}
    <div id="sdf">
        <h2>Parking Lots</h2>
        <br>
        <div class="lot_dibba">
            <h5>Lot Details-</h5>
            {% for lot in parking_lots %}
            <div class="lot" class="card-body">
                <div style="color: rgb(7, 134, 91);"><b>Lot Id: {{ lot.id }}</b></div>
                <div class="actions"><a href="/edit_lot/{{lot.id}}">Edit Lot</a></div>

                <div>Lot Address: {{ lot.lot_name }}, {{ lot.address}}, {{ lot.pin_code }}</div>
                <div class="spaces">Total Slots: {{ lot.total_spots }}</div>
                <div class="spaces">Available: {{ lot.total_spots - lot.reserved_spots }}</div>
                <div class="spaces">Price (per hour): ₹{{ lot.price }}</div>

                <!-- spots relation se data lega -->
                {% for i in lot.spots %}
                    
                        {% if i.status==1%}
                            <span class="dibba"><a href="/spot/{{i.id}}">{{i.id}} </a></span>
                        {% else %}
                        
                        <span class="available"><a href="#">{{i.id}}</a> </span>
                        {%endif%}
                {% endfor %}
                <div><a href="/delete_lot/{{lot.id}}">Delete Lot</a></div>
                
                

            </div>
            {% if not loop.last %}
            <hr>{%endif%}

            {% endfor %}
            <br>
            <h6>Note:</h6>
                <ol>
                    <li>Green Box Shows Spot is Available</li>
                    <li>Red box Shows Spot is Occupied</li>
                </ol>
        </div>
    </div>
    <br>


</div>
</div>



{%endblock%}