{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<br>
<div class="container">
    <h4> Recent Parking History</h4>

    <!-- <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Spot Id</th>
                <th>Location</th>
                <th>Vehicle No</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for spot in spots %}
            <tr>
                <td>{{ spot.spot_id }}</td>
                <td>{{ spot.location }}</td>
                <td>{{ spot.vehicle_no }}</td>
                <td>{{ spot.timestamp }}</td>
                <td>
                    <a href="/edit_spot/{{ spot.spot_id }}" class="btn btn-primary">Edit</a>
                    <a href="/delete_spot/{{ spot.spot_id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table> -->
    <br><br><br>
    
</div>

<!-- Additional Feature Not required -->
<div class="container">
    <h4>Explore</h4>
    <table class="table table-striped table-hover">

        <thead>
            <tr>
                <th>Lot Id</th>
                <th>Location</th>
                <th>Address</th>
                <th>Reserve</th>
                
            </tr>
        </thead>
        <tbody>
            {% for spot in parking_lots %}
            <tr>
                <td>{{ spot.id }}</td>
                <td>{{ spot.location }}</td>
                <td>{{ spot.address }}</td>
                <td>
                    <a href="/reserve_spot/{{ spot.spot_id }}" >Reserve Spot</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <br><br><br>
</div>
<!-- yahan tak h additional feature -->

{%endblock%}