{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div id="dsh" class="red_pattern">
<!-- ye release ke pahle ka h  -->
<div class="container mt-4">
    <h4>Your Reserved Spots</h4>
    <p>These are the Parking Spots which are Active/Your Reserved Spots</p>
    {% if reserv|length==0 %}
    no records
    {% else %}
    <div class="table-responsive">
        <br>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Lot Id</th>
                <th>Lot Name</th>
                <th>Spot Id</th>
                <th>Vehicle No</th>
                <th>Parking Timestamp</th>
                <th>Release Spot</th>

            </tr>
        </thead>
        <tbody>
            {% for r in reserv %}
            {% if r.end_time is none %}
            <tr>
                <td>{{ r.spot.parking_lot.id }}</td>

                <td>{{ r.spot.parking_lot.lot_name }}</td>
                <td>{{ r.spot.id }}</td>
                <td>{{ r.vehicle_no }}</td>
                <td>{{ r.start_time }}</td>
                <td>
                    <form action="{{ url_for('parking_cost', id=r.id) }}" method="POST">
                        <button type="submit" class="btn">Release</button>
                    </form>
                </td>

            </tr>
            {%endif%}
            {% endfor %}
        </tbody>
    </table>
    </div>
    {%endif%}
    <br><br>

    <!-- ye release ke baad ka h  -->
    <h4>Recent Parkings</h4>
    {% if reserv|length==0 %}
    no records
    {% else %}
    <p>All Your Recent Parking Details are rendering below</p>
    <div class="table-responsive">
        <br>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Lot Id</th>
                <th>Lot Name</th>
                <th>Spot Id</th>
                <th>Vehicle No</th>
                <th>Parking Timestamp</th>
                <th>Leaving Timestamp</th>
                <th>Total Price</th>

            </tr>
        </thead>
        <tbody>
            {% for r in reserv %}           
            {% if r.end_time is not none %}
            <tr>
                <td>{{ r.spot.parking_lot.id }}</td>

                <td>{{ r.spot.parking_lot.lot_name }}</td>
                <td>{{ r.spot.id }}</td>
                <td>{{ r.vehicle_no}}</td>
                <td>{{ r.start_time }}</td>
                <td>{{ r.end_time }}</td>
                <td>₹{{ r.parking_cost }}</td>

            </tr>
            {%endif%}
            {% endfor %}
        </tbody>
    </table>
    </div>
    {%endif%}

<br>
<br>


<!-- Available Parking Lots -->

    <h4>Available Parking Lots</h4>
    <div class="table-responsive">
        <br>
        <table class="table table-sm table-hover">

            <thead>
                <tr>
                    <th>Lot Id</th>
                    <th>Lot Name</th>
                    <th>Cost/unit hour</th>
                    <th>Available Spots</th>
                    <th>Address</th>
                    <th>Reserve Spot</th>

                </tr>
            </thead>
            <tbody>
                {% for spot in lot %}
                <tr>
                    <td>{{ spot.id }}</td>
                    <td>{{ spot.lot_name }}</td>
                    <td>₹{{ spot.price }}</td>
                    <td>{{ spot.total_spots-spot.reserved_spots}}</td>
                    <td>{{ spot.address }}</td>
                    <td>
                        <a href="/reserve_spot/{{spot.id}}">reserve</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <br><br><br>

</div>
<hr>
<!-- yahan tak h -->
 </div>

{%endblock%}