{% extends 'base.html' %}

{% block title %} register {% endblock %}

{% block content %}

    <div id="register">
        <div class="box">
            <h1>Register</h1><br>
            <form action="/register" method="post">
                <label for="user_name">User Name:</label>
                <input type="text" name="user_name" id="user_name" placeholder="Enter Your Full Name" required><br>
                <label for="user_email">User Email_Id:</label>
                <input type="text" id="user_email" name="user_email"placeholder="example@abcd.com" required>
                <br>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="password" required>
                <br>
                <label for="vehicle_no">Vehicle Number:</label>
                <input type="text" id="vehicle_no" name="vehicle_no" placeholder="Enter Your Vehicle Number" ><br>
                
                <label for="vehicle_no">Address:</label>
                <input type="text" id="Address" name="Address" placeholder="Enter Your Address" ><br><br>
                <button type="submit" class="btn btn-outline-secondary">Register</button>
            </form>
            <br>
            <a href="/login">Login From Here</a>
        </div>
    </div>
    
{% endblock %}
