{% extends 'base.html' %}
{% block title %}Registered Users{% endblock %}


{%block content%}
<div class="container">
    <br>
    <h3>Registered Users</h3>
    <div class="table-responsive">
        <table class="table table-sm table-hover">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for usr in usersdata %}
                <tr>
                    <td>{{ usr.id }}</td>
                    <td>{{ usr.user_name }}</td>
                    <td>{{ usr.user_email }}</td>
                    <td>{{ usr.address }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>


{%endblock%}