{% extends "base.html" %}
{% block title %}Reserve Spot{% endblock %}
{% block content %}
<div id="spot_box" >
    <div class="box">
    <h1>Reserve Spot</h1><br>
    <h5>Parking Lot Details-</h5>

    <p>Lot Id: {{lot.id}}</p>
    <p>Lot Name: {{lot.lot_name}}</p>
    <p>Address: {{lot.address}},{{lot.pin_code}}</p>
    <p>Available Spots: {{lot.total_spots - lot.reserved_spots}}</p>
    <p>Price(rupees per minute): {{lot.price}}</p>
    <p>Time: {{start_time}}</p>
    
    


    <form action="{{ url_for('reserve_spot',id=lot.id)}}" method="post">

        <label for="vehicle_no">Vehicle No:</label>
        <input type="text" id="price" name="vehicle_no" placeholder="Enter Your vehicle number" required><br><br>

        <button type="submit">Reserve spot</button>

    </form>
    <br>
    <a href="/dashboard">Go Back</a>
    </div>
</div>
{%endblock%}